PORT=3000
SMTP_API_KEY=''
SENDER=''
JWT_SECRET='jwt-secret'
DATABASE_URL='postgresql://g2_db_vv4n_user:TdpldUmtMCSIX1E0xAM2DX5tx5nJOcOQ@dpg-d1q3pknfte5s73cudh6g-a.oregon-postgres.render.com/g2_db_vv4n' 